<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/atmicon.png" type="image/x-icon">
    <script src="index.js"></script>
    <title>ATM</title>
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="nav-left">
                <p>ATM</p>
            </div>
            <div class="nav-menu">
                <div class="nav-list">
                    <a class="nav-link" href="../">
                        <p>Home</p>
                    </a>
                </div>
                <div class="nav-list">
                    <a class="nav-link" href="../balance">
                        <p>Check the Balance</p>
                    </a>
                </div>
                <div class="nav-list">
                    <a class="nav-link" href="../atm">
                        <p>Get your money</p>
                    </a>
                </div>
                <div class="nav-list">
                    <a class="nav-link" href="../deposit">
                        <p>Deposit Money</p>
                    </a>
                </div>
                <div class="nav-list">
                    <a class="nav-link" href="../signup">
                        <p>Sign Up</p>
                    </a>
                </div>
                <div class="nav-list">
                    <a class="nav-link" href="../login">
                        <p>Login</p>
                    </a>
                </div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>