<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/atmicon.png" type="image/x-icon">
    <title>ATM</title>
</head>

<body>
    <div class="navbar">
        <div class="nav-left">
            <p>ATM</p>
        </div>
        <div class="nav-right">
            <div class="nav-list">
                <a href="../">
                    <p>Home</p>
                </a>
            </div>
            <div class="nav-list">
                <a href="../balance">
                    <p>Check the Balance</p>
                </a>
            </div>
            <div class="nav-list">
                <a href="../atm">
                    <p>Get your money</p>
                </a>
            </div>
            <div class="nav-list">
                <a href="../deposit">
                    <p>Deposit Money</p>
                </a>
            </div>
            <div class="nav-list">
                <a href="../signup">
                    <p>Sign Up</p>
                </a>
            </div>
            <div class="nav-list">
                <a href="../login">
                    <p>Login</p>
                </a>
            </div>
        </div>
    </div>