<%- include("partials/header.ejs") -%>

    <div class="heading">
        <h1>
            Deposit Money
        </h1>
    </div>
    <div class="main-form">
        <form action="/deposit" method="POST">
            <input type="text" placeholder=" Your Username" name="username" required>
            <br>
            <input type="text" placeholder=" Enter your new money" name="deposit" required>
            <br>
            <button class="main-btn" type="submit">Take This</button>
        </form>
    </div>

    <%- include("partials/footer.ejs") -%>