<%- include("partials/header.ejs") -%>

    <div class="anim">
        <img src="https://media.giphy.com/media/26xBMuHu0ZFngH7Ta/source.gif" alt="">
    </div>
    <div class="heading">

    </div>

<%- include("partials/footer.ejs") -%>