<%- include("partials/header.ejs") -%>

    <div class="heading">
        <h1>
            Not Found / Wrong Data
            <br>
            Please Try Again
        </h1>
    </div>

<%- include("partials/footer.ejs") -%>