<%- include("partials/header.ejs") -%>
    <div class="heading">
        <h1>Sign Up</h1>
    </div>
    <div class="form-main">
        <div class="main-form">
            <form action="/signup" method="POST">
                <input type="text" placeholder=" Your First Name" name="firstname" required>
                <br>
                <input type="text" placeholder=" Your Username" name="username" required>
                <br>
                <input type="password" placeholder=" Your Password" name="password" required>
                <br>
                <input type="text" placeholder=" How much Money do you have?" name="bal" required>
                <br>
                <button class="main-btn" type="submit">Sign Up</button>
            </form>
        </div>
    </div>

<%- include("partials/footer.ejs") -%>